@using WebApplication2.Models;
@model Product
<form class="row g-3" asp-action="Create" method="post">
    <div class="col-md-6">
        <label for="" class="form-label">Name</label>
        <input asp-for="Name" type="text" class="form-control">
        <span asp-validation-for="Name"></span>
    </div>
    >
    <div class="col-12">
        <label for="" class="form-label">Description</label>
        <input asp-for="Description" type="text" class="form-control">
        <span asp-validation-for="Description"></span>
    </div>
    <div class="col-6">
        <label for="" class="form-label">Price</label>
        <input asp-for="Name" type="text" class="form-control">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group row">
        <label asp-for="Image" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="Image" name="Create" class="form-control custom-file-input" />
                <label class="custom-file-label">Choose File...</label>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="CatagoryId">Catagory</label>
            <select asp-for="CatagoryId" class="form-select" aria-label="Default select example" asp-items="@(new SelectList(ViewBag.Catagories,"Id","Name"))">
            </select>
            <span asp-validation-for="CatagoryId" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="ColourIds">Colours</label>
            <select asp-for="ColourIds" class="form-select" aria-label="Default select example" asp-items="@(new SelectList(ViewBag.Colours,"Id","Name"))">
            </select>
            <span asp-validation-for="ColourIds" class="text-danger"></span>
        </div>
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Check me out
            </label>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>